* text=auto
* eol=lf

/.git                    export-ignore

/tests export-ignore
/continuous-integration export-ignore

/.gitignore export-ignore
/.gitattributes export-ignore

/composer.lock export-ignore

/infection.json5 export-ignore
/.github export-ignore
