/.idea/**
/vendor/**
/tests/developing/**
/composer.phar
/phing-latest.phar
./phpstan.neon
/continuous-integration/phpstan/tmp/**
/continuous-integration/autotests-coverage-report/**
/continuous-integration/phpunit/.phpunit.cache/**
